<div ng-controller="cancelled_requests_Ctrl">
<div class="col-md-12">
    <alert-directive action="action" close-alerts="closeAlerts"></alert-directive>
    <div class="w3-card-4 w3-margin">
        <div class="w3-teal w3-bar">
            <h2 class="w3-bar-item">Cancelled Requests</h2>
             <div class="w3-bar-item"><form name="date_form" class="form-inline" ng-submit="submit()">
                        <div class="form-group">
                        <label>Start Date<input type="date" ng-model="start_date" class="form-control" max="{{today}}" required></label>
                        </div>
                        <div class="form-group">
                        <label>End Date<input type="date" ng-model="end_date" class="form-control"  max="{{today}}" required></label>
                        </div>
                         <button type="submit" class="btn btn-success" ng-disabled="date_form.$invalid">Load Transactions</button>
                </form>
             </div>

            <div class="w3-bar-item w3-right"><input class="form-control" type="text" ng-model="search" placeholder="search"></div>
        </div>

<div style="overflow:auto; height: 500px;">
            <table class="w3-table w3-striped">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Request ID</th>
                         <th><a ng-href="" ng-click="sortType = 'StatusDate'; sortReverse = !sortReverse">Date<span ng-show="sortType == 'StatusDate' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'StatusDate' && sortReverse" class="fa fa-caret-up"></span></a></th>
                         <th class="w3-center"><a ng-href="" ng-click="sortType = 'StatusDate'; sortReverse = !sortReverse">Time<span ng-show="sortType == 'CreatedByDate' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'CreatedByDate' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                       <th><a ng-href="" ng-click="sortType = 'EmployerName'; sortReverse = !sortReverse">Employer<span ng-show="sortType == 'Employer' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'EmployerName' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th><a ng-click="sortType = 'LoanType'; sortReverse = !sortReverse"><strong>Loan Type</strong><span ng-show="sortType =='LoanType' && !sortReverse" class="fa fa-caret-down"></span>
                      <span ng-show="sortType == 'LoanType' && sortReverse" class="fa fa-caret-up"></span></a></th>
                  <th><a ng-click="sortType = 'PaymentMethod'; sortReverse = !sortReverse"><strong>Payment Method</strong> <span ng-show="sortType == 'PaymentMethod' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'PaymentMethod' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th>TL </th>
                        <th>Cancelled By</th>
                        <th><a ng-click="sortType = 'Branch'; sortReverse = !sortReverse"><strong>Branch</strong><span ng-show="sortType == 'Branch' && !sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'Branch' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th><button class="btn btn-primary" ng-json-export-excel data="details" report-fields="{LoanRefId: 'ID', StatusDate: 'QC Time', ClientRefId: 'Client ID',ClientName:'ClientName',
              EmployerName: 'Employer',LoanType:'Loan Type',Tenor:'Tenor',PaymentMethod:'Payment Method',StatusByUser:'QC By',TLCode:'TL Code',Branch:'Branch',GrossAmount:'Gross',
              NetAmount:'Net',Deal_DPCode:'DP Code',MobileNumber:'Mobile Number',StatusByUser:'Status'}" filename =" 'payment-export' " separator="," class="css-class">
                      <i class="fas fa-file-excel"> <strong>Export to Excel</strong></i>

                    </button></th>
                    </tr>
                </thead>
                <!----end of table head---->


                <tbody>
                    <!--starting table body--->

                       <tr ng-repeat="detail in details| orderBy:sortType:sortReverse|filter:search"><!---applying ng repeat to display sets of data in the api call---->
                        <td>{{detail.Id}}</td>
                         <td>{{detail.StatusDate|date:'longDate'}}</td>
                        <td>{{detail.StatusDate|date:'shortTime'}}</td>
                        <td>{{detail.ClientRefId}}</td>
                         <td>{{detail.ClientName}}</td>
                        <td>{{detail.EmployerName}}</td>
                        <td>{{detail.LoanType}}</td>
                        <td>{{detail.PaymentMethod}}</td>
                        <td>{{detail.TLCode}}</td>
                        <td>{{detail.StatusByUser}}</td>
                        <td>{{detail.Branch}}</td>
                        <td><button onclick="document.getElementById('paid_deals_modal').style.display='block'" ng-click="setSelected(detail);call_selfie();get_passport();" class="btn btn-success">View</button>
                        </td>
                    </tr>
                    <!--end of ng repeat---->
                </tbody>
                <!--end of table body--->
            </table>
            <!---end of table-->
                    <div class="w3-center" ng-if="found">

                     <br><br>
                 <i class="fa fa-circle-notch fa-spin fa-3x fa-fw"></i>
                 <span class="sr-only">Loading...</span>

            </div>
                <div class="w3-center">
                     <br><br>
                    <p ng-if="empty">Tray is empty</p>
                </div>
</div>




            <div class="w3-container">
                <!---modal container----->


                <!---modal to display the currently selected row--->


                <div id="paid_deals_modal" class="w3-modal">
                    <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-teal">
                            <span onclick="document.getElementById('paid_deals_modal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <h2>Transaction Details</h2>
                        </header>
                        <!---header for the modal----->

                        <div class="w3-container" id="table">
                            <!--container to hold table to display the currently selected client data--->
                            <div class="w3-center">

                         <div class="w3-half w3-card">
                             <div class="w3-center">
                                     <br><br>
                                 <i class="fa fa-circle-notch fa-spin fa-3x fa-fw" ng-if="selfie_spin"></i>

                                </div>
                             <img ng-src="{{selfie}}" style="width:90%" alt="{{selfie_alt}}"  class="w3-text w3-margin">
                         </div>
                         <div class="w3-half w3-card">
                             <div class="w3-center">
                                     <br><br>
                                 <i class="fa fa-circle-notch fa-spin fa-3x fa-fw" ng-if="passport_spin"></i>

                                </div>
                             <img ng-src="{{'data:image/png;base64,'+ passport}}" alt="{{passport_alt}}" style="width:90%" class="w3-text w3-margin">
                         </div>
                            </div>
                            <!---content to hold the selfie or image of the currently selected client--->

                            <table class="w3-table w3-striped w3-border">
                                <!--beginning of the table to diplay currently selected client data----->
                                <tbody>

                                 <tr><td>STAFF ID: {{details[selected].ClientRefId}}</td><td>EMPLOYEE NAME: {{details[selected].ClientName}}</td></tr>
                              <tr><td>EMPLOYER: {{details[selected].EmployerName}}</td><td>PAYMENT METHOD: {{details[selected].PaymentMethod}}</td></tr>
                              <tr><td>GROSS: {{details[selected].GrossAmount}}</td><td>NET: {{details[selected].NetAmount}}</td></tr>
                              <tr><td>PAID AT: {{details[selected].StatusDate|date:'short'}}</td><td>TENOR: {{details[selected].Tenor}}</td></tr>
                              <tr><td>TRANSACTION TYPE: {{details[selected].LoanType}}</td><td>CONTACT 1: {{details[selected].MobileNumber}}</td></tr>
                              <tr><td>CANCELLED BY: {{details[selected].TLCode}} </td><td>TL CODE: {{details[selected].StatusByUser}}</td></tr>
                                </tbody>
                                <!--end of table body--->
                            </table>
                            <!---end of table --->

                        </div>
                        <!---end of container--->



                        <footer class="w3-container w3-teal">
                            <!---modal footer--->
                            <div class="w3-right w3-margin" id="footer_button">
                                <button class="w3-btn w3-red" type="button" onclick="document.getElementById('paid_deals_modal').style.display='none'">
                                CLOSE
                            </button>

                            </div>
                        </footer>
                        <!--end of modal footer-->



                    </div>
                </div>
            </div>
            <!---end of pending qc container--->
        </div>

    </div>
</div>