<div ng-controller="settings_Ctrl">
    <div class="row" ng-if="set">
            <div class="col-md-4 col-md-offset-4">

               <div class="alert alert-success alert-dismissable">
                  <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Success!</strong> Filters have been set.
                </div>
                <br>
           </div>
       </div>


    <form ng-submit="submit()">
    <div class="col-md-3 col-md-offset-2">
                    <div class="w3-card-4 w3-margin">
                            <header class="w3-container w3-teal w3-center">
                              <h2>Payment Options</h2>
                            </header>
        <ul class="list-group" >
        <li class="list-group-item">
            <label>
            <input type="checkbox" ng-model="selectedAllPay" ng-click="checkAllPayments()" />
                Select All Payments
            </label>
        </li>
        <li ng-repeat="item in p_array" class="list-group-item">
            <label>
                <input type="checkbox"  ng-checked="selectedAllPay" ng-click="set_payment(item);selected_payment()"/>
                {{item}}
            </label>
        </li>
    </ul>

    </div>
         <button type="submit" class="w3-button w3-block w3-blue w3-card-4">SET <i class="fa fa-check-square-o" aria-hidden="true" ng-if="set"></i></button>
    </div>


     <div class="col-md-2">
        <div class="w3-card-4 w3-margin">
                <header class="w3-container w3-teal w3-center">
                  <h2>Branches</h2>
                </header>
            <ul class="list-group" >
                <li class="list-group-item">
                    <label>
                    <input type="checkbox" ng-model="selectedAllBranch" ng-click="checkAllBranches()" />
                        Select All Branches
                    </label>
                </li>
                <li ng-repeat="item in b_array" class="list-group-item">
                    <label>
                        <input type="checkbox"  ng-checked="selectedAllBranch" ng-click="set_branch(item);selected_branch()"/>
                        {{item}}
                    </label>
                </li>
            </ul>
        </div>
    </div>

        <div class="col-md-2">
            <div class="row">
                <div class="w3-card-4 w3-margin">
                    <header class="w3-container w3-teal w3-center">
                        <h2>Employers</h2>
                    </header>
                    <ul class="list-group" >
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="selectedAllEmployer" ng-click="checkAllEmployers()" />
                                Select All Employers
                            </label>
                        </li>
                        <li ng-repeat="item in e_array" class="list-group-item">
                            <label>
                                <input type="checkbox"  ng-checked="selectedAllEmployer" ng-click="set_employer(item);selected_employer()"/>
                                {{item|employer_filter}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

           <!-- <div class="row">
                <div class="w3-card-4 w3-margin">
                    <header class="w3-container w3-teal w3-center">
                        <h2>Transaction</h2>
                    </header>
                    <ul class="list-group" >
                        <li class="list-group-item">
                            <label>
                                <input type="checkbox" ng-model="selectedAllTransaction" ng-click="checkAllTransactions()" />
                                Select All Transactions
                            </label>
                        </li>
                        <li ng-repeat="item in t_array" class="list-group-item">
                            <label>
                                <input type="checkbox"  ng-checked="selectedAllTransaction" ng-click="set_transaction(item);selected_transaction()"/>
                                {{item}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>-->

        </div>

</form>

</div>