<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li ng-repeat="dat in datas" data-target="#carousel-example-generic" data-slide-to="{{$index}}"></li>

    </ol>



    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="data in datas track by $index">
            <div class="w3-center">
                <img ng-src="{{data.ImageURL}}" alt="{{data.ImageURL}}">
                <div class="carousel-caption">
                    <span class="w3-text-black">{{data.Date|date:'longDate'}} deal owned by {{data.AssociatedTLDPID}}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_blank">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_blank">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>


</div>